# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.product_analyst/
.env
*.pkl

# Data (large files)
data_generator/output/
*.jsonl
*.parquet
*.csv.gz
data_generator/data/raw/events/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# AWS temp
.aws/
credentials

# dbt artifacts
target/
logs/
dbt_packages/
dbt_modules/

# dbt local credentials
profiles.yml
**/profiles.yml